<link rel="stylesheet" href="/public/css/stockResult.css">

<div class="containerResult mt-5">
    <!-- Základní údaje o společnosti -->
    <div class="section">
        <h2>Základní údaje o společnosti {{ TickerSymbol }}</h2>
        <div class="data-row">
            <span class="label">Název společnosti:</span>
            <span class="value">{{ longName }}</span>
        </div>
        <div class="data-row">
            <span class="label">Ticker (symbol):</span>
            <span class="value">{{ TickerSymbol }}</span>
        </div>
        <div class="data-row">
            <span class="label">Tržní kapitalizace:</span>
            <span class="value">{{ marketCap }}</span>
        </div>
        <div class="data-row">
            <span class="label">Odvětví:</span>
            <span class="value">{{ sector }}</span>
        </div>
    </div>

    <!-- 52 Týdenní Cenová Stupnice -->
    <div class="section mt-4">
        <h2>52 Týdenní Cenová Stupnice</h2>
        <div class="price-scale">
            <div class="current-price"
                style="left: calc(({{currentPrice}} - {{fiftyTwoWeekLow}}) / ({{fiftyTwoWeekHigh}} - {{fiftyTwoWeekLow}}) * 100%)">
            </div>
        </div>
        <div class="labels row">
            <div class="col-md-4"><strong>52 týdenní minimum:</strong> <span class="value"> {{fiftyTwoWeekLow}} $
                </span></div>
            <div class="col-md-4"><strong>Aktuální cena:</strong> <span class="value">{{ currentPrice }} $</span></div>
            <div class="col-md-4"><strong>52 týdenní maximum:</strong> <span class="value"> {{fiftyTwoWeekHigh}}
                    $</span></div>
        </div>
    </div>

    <div class="section">
        <h2>Shrnutí a doporučení</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="data-row">
                    <span class="label">Doporučení:</span>
                    <span class="value">{{ recommendation_key }}</span>
                </div>
                <div class="data-row">
                    <span class="label">Počet analytických doporučení:</span>
                    <span class="value">{{ number_of_analyst_opinions }}</span>
                </div>
                <div class="data-row">
                    <span class="label">Cílová vysoká cena:</span>
                    <span class="value">{{ target_high_price }} $</span>
                </div>
                <div class="data-row">
                    <span class="label">Průměrná cílová cena:</span>
                    <span class="value">{{ target_mean_price }} $</span>
                </div>
                <div class="data-row">
                    <span class="label">Cílová nízká cena:</span>
                    <span class="value">{{ target_low_price }} $</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tradingview-widget-container" style="padding-top: 5px;">
                    <div id="tradingview_22f33">
                        <div id="tradingview_28fbb-wrapper"
                            style="position: relative; box-sizing: content-box; font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif; margin: 0px auto !important; padding: 0px !important; width: 620px; height: calc(268px);">
                            <iframe title="advanced chart TradingView widget" lang="en" id="tradingview_28fbb"
                                frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen="true"
                                src="https://s.tradingview.com/widgetembed/?hideideas=1&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en#%7B%22symbol%22%3A%22{{ TickerSymbol }}%22%2C%22frameElementId%22%3A%22tradingview_28fbb%22%2C%22interval%22%3A%221%22%2C%22range%22%3A%2212M%22%2C%22hide_top_toolbar%22%3A%221%22%2C%22save_image%22%3A%220%22%2C%22studies%22%3A%22%5B%5D%22%2C%22theme%22%3A%22light%22%2C%22style%22%3A%222%22%2C%22timezone%22%3A%22America%2FNew_York%22%2C%22withdateranges%22%3A%221%22%2C%22studies_overrides%22%3A%22%7B%7D%22%2C%22utm_source%22%3A%22www.dataroma.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22chart%22%2C%22utm_term%22%3A%22{{ TickerSymbol }}%22%2C%22page-uri%22%3A%22www.dataroma.com%2Fm%2Fstock.php%3Fsym%3D{{ TickerSymbol }}%22%7D"
                                style="width: 100%; height: 100%; margin: 0px !important; padding: 0px !important;"></iframe>
                        </div>
                    </div>
                    <div class="tradingview-widget-copyright" style="width: 100%;">
                        <a href="https://www.tradingview.com/symbols/{{ TickerSymbol }}/?utm_source=www.dataroma.com&amp;utm_medium=widget_new&amp;utm_campaign=chart&amp;utm_term={{ TickerSymbol }}"
                            rel="noopener" target="_blank"><span class="blue-text">{{ TickerSymbol }} Chart</span></a>
                        by TradingView
                    </div>
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.widget(
                            {
                                "width": 620,
                                "height": 300,
                                "symbol": "{{ TickerSymbol }}",
                                "timezone": "America/New_York",
                                "theme": "light",
                                "style": "2",
                                "locale": "en",
                                "toolbar_bg": "#f1f3f6",
                                "enable_publishing": false,
                                "hide_top_toolbar": true,
                                "withdateranges": true,
                                "range": "12M",
                                "save_image": false,
                                "container_id": "tradingview_22f33"
                            }
                        );
                    </script>
                </div>
            </div>
        </div>

    </div>
</div>