.price-scale {
    position: relative;
    width: 100%;       /* Zajistí, že škála zabírá celý dostupný prostor */
    height: 8px;       /* Menší výška škály */
    background: #c2c2c2;
    border-radius: 3px; /* Mírně zaoblené rohy pro subtilnější vzhled */
    margin: 10px 0;    /* Menší mezera nad a pod škálou */
}

.price-scale .current-price {
    position: absolute;
    width: 8px;          /* Zmenší značku */
    height: 8px;
    background: red; /* Značka bude mít modrou barvu */
    border-radius: 50%;  /* Kompletně kulatá značka */
    transform: translateX(-50%); /* Centrování značky */
}

h1 {
    padding-bottom: 30px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #0056b3;
}

.fear-and-greed-container {
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.fear-and-greed-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.fear-and-greed-info p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.fear-and-greed-info .classification {
    font-weight: bold;
}

.fear-and-greed-info .updated {
    color: #888;
}

.value {
    color: #007bff;
}

.classification[data-classification="Extreme Fear"] {
    color: #dc3545;
}

.classification[data-classification="Fear"] {
    color: #ffc107;
}

.classification[data-classification="Neutral"] {
    color: #17a2b8;
}

.classification[data-classification="Greed"] {
    color: #28a745;
}

.classification[data-classification="Extreme Greed"] {
    color: #6610f2;
}

/* Tento styl zajistí, že .row bude používat Flexbox a zarovná sloupce na stejnou výšku */
.row.align-items-stretch {
  display: flex;
}

/* Ujisti se, že všechny sloupce v rámci .row budou mít stejnou výšku */
.col-md-8,
.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Nebo `flex-start`, pokud chceš zarovnat obsah na začátek */
}