{% extends "base.html" %}
{% block title %}Monitoring page{% endblock %}
{% block content %}


<div class="row">
    <div class="col-md-3">
        <h2>CPU usage: </h2>
        <div class="ring" id="cpu-ring">
            <div class="speed">
                <div class="number" id="cpu-number">0</div>
                <div class="units">%</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2>RAM usage: </h2>
        <div class="ring" id="ram-ring">
            <div class="speed">
                <div class="number" id="ram-number">0</div>
                <div class="units">%</div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

{% block scripts %}
<script src="/public/js/hwmonitor.js"></script>
{% endblock %}
