{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %} 
<h1>Crypto</h1>

<form id="myForm" class="row">
    <label for="crypto_symbol" class="form-label">Zadejte ticker symbol:</label>
    <div class="col-md-8 d-flex">
        <input type="text" id="crypto_symbol" name="crypto_symbol" class="form-control me-2" required>
        <button type="submit" class="btn btn-primary">Odeslat</button>
    </div>
</form>

<!-- Spinner (skrytý při načtení stránky) -->
<div id="loading-spinner" class="d-none mt-3 text-center">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div id="result_container" class="result_container mt-4">
    <!-- Výsledky budou načteny sem -->
</div>

{% endblock %}

{% block scripts %}
<script>
document.getElementById('myForm').addEventListener('submit', function (event) {
    event.preventDefault();  // Zabraňuje odeslání formuláře tradiční metodou
    document.getElementById('loading-spinner').classList.remove('d-none');
    
    const resultDiv = document.getElementById('result_container');  // Opraveno na správný ID
    resultDiv.innerHTML = '';  // Vymažeme předchozí obsah

    const formData = new FormData(this);

    fetch('/bitcoinData', {
        method: 'POST',
        body: formData
    })
        .then(response => response.json())
        .then(data => {
            document.getElementById('loading-spinner').classList.add('d-none');
            resultDiv.innerHTML = data.html;
        })
        .catch(error => {
            document.getElementById('loading-spinner').classList.add('d-none');
            resultDiv.innerHTML = 'Neznámý ticker';
            console.error('Chyba:', error);
        });
});
</script>
{% endblock %}
