{% extends "base.html" %}
{% block title %} Home page  {% endblock %}
{% block content %} 
<div class="row">
    <div class="col-10">
        <h1>Hello, on protfolio webpages</h1>
    </div>

    <div class="col-sm-4">
        <!-- Banner pro RSS feed -->
        <div id="rss-feed" class="banner">
            <p>Loading feed...</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function loadRSSFeed() {
        fetch('/feed')
            .then(response => response.text())
            .then(data => {
                document.getElementById('rss-feed').innerHTML = data;
            })
            .catch(error => {
                console.error('Error loading RSS feed:', error);
                document.getElementById('rss-feed').innerHTML = '<p>Error loading feed.</p>';
            });
    }

    // Načtení feedu při načtení stránky
    window.onload = loadRSSFeed;
</script>
{% endblock %}