{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block content %}
<h1>Portfolio</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th><strong>Ticker</strong></th>
            <th><strong>Amount</strong></th>
            <th><strong>Units</strong></th>
            <th><strong>Dividend</strong></th>
        </tr>
    </thead>
    <tbody>
        {% for ticker, total_investment, total_units, total_dividend in data %}
        <tr>
            <td><strong>{{ ticker }}</strong></td>
            <td>{{ total_investment }}</td>
            <td>{{ total_units }}</td>
            <td>{{ total_dividend }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
